.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#cuadricula {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 75px 75px 75px;
}

label {
    border: 1px solid black;
    text-align: center;
}

p::before {
    display: block;
    content: attr(type);
}

#error {
    color: red;
    display: none;
}